form .input_text {
  width: 95%;
}

form {
  margin-left: 10px;
  margin-top: 5px;
  padding: 4px 0;
}

.images_list {
  height: 600px;
  overflow: scroll;
}

.images_list img {
  width: 50%;
  border: 2px solid black;
}

.images_list img:hover {
  opacity: 0.5;
}

.login_status_container {
  padding-top: 10px;
}
.login_status_text {
  margin-left: 15px;
  margin-top: 5px;
  float: left;
}
.login_status_btn {
  margin-left: 20px;
  float: left;
}

.images_section {
  width: 95%;
  display: flex;
  padding-top: 20px;
}

.images_section > * {
  margin: auto;
  width: 48%;
  border: 1px solid;
  border-radius: 5px;
}

.images_btn_control {
  display: flex;
  justify-content: center;
  width: 50%;
  float: right;
  margin-right: 5%;
}

.images_btn_control > * {
  margin-right: 10px;
  margin-bottom: 10px;
}

.image_detail_footer {
  display: flex;
}

.actual_image {
  border: 1px solid black;
  margin-left: 100px;
  width: 25%;
}
