form .input_text {
  width: 95%;
}

form {
  margin-left: 10px;
  margin-top: 5px;
  padding: 4px 0;
}

.disable_imagescontainer {
  position: absolute;
  background-color: grey;
  width: 45%;
  height: 600px;
  margin-left: 1%;
  opacity: 0.5;
}

.show_images_enabled {
  z-index: -1;
}

.callingBackend {
  opacity: 40%;
}

.motoko {
  position: absolute;
  top: -20px;
  right: 10px;
  height: 100px;
}

.motoko_loader {
  animation: 1s blink infinite;
}
@keyframes blink {
  25% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  75% {
    opacity: 25%;
  }
}

.images_list {
  height: 600px;
  overflow: scroll;
}

.images_list img {
  width: 50%;
  border: 2px solid black;
}

.images_list img:hover {
  opacity: 0.5;
}

.login_status_container {
  padding-top: 10px;
}
.login_status_text {
  margin-left: 15px;
  margin-top: 5px;
  float: left;
}
.login_status_btn {
  margin-left: 20px;
  float: left;
}

.images_section {
  width: 95%;
  display: flex;
  padding-top: 20px;
}

.images_section > * {
  margin: auto;
  width: 48%;
  border: 1px solid;
  border-radius: 5px;
}

.images_btn_control {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  float: right;
}

.images_btn_control > * {
  margin-right: 10px;
  margin-bottom: 10px;
}

.image_detail_footer {
  display: flex;
}

.actual_image {
  margin-left: 10px;
  width: 50%;
  object-fit: scale-down;
}
